accelerate==0.34.2
faiss-gpu==1.7.2
#transformers==4.44.2
git+https://github.com/huggingface/transformers
google-generativeai==0.7.2
gradio==4.43.0
ipywidgets==8.1.5
langchain-community==0.2.16
langchain==0.2.16
pdfminer.six==20240706
torch==2.4.1
